// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles Admin Lte
@import 'adminlte';


.navbar-faceba {
	background: #AF7AC5;
	color: white;
}
.sidebar {
	background: #797D7F;
	color: white
}

.sidebar ul a{
	
	color: white
}

.brand-link{
	background: #797D7F;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(247, 247, 247);
}